.nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    
}

.nav__text{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    align-self: center;
    font-weight: 500;
    text-decoration: none;
}

.nav__text_black{
    color: #1A1B22;
}

.nav__btn{
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    min-width: 176px;
    max-height: 48px;
    padding: 12px;
    margin: 19px 0px;
}

.nav__text:hover{
    opacity: .5;
    border-bottom: 3px solid #fff;
}

@media screen and (max-width: 800px){
    .nav__text{
        font-size: 16px;

    }

    .nav__btn{
        padding: 8px 12px;
        margin: 14px 0px;
        min-width: 152px;
        max-height: 40px;
    }
}