.header{
    display: flex;
    border-bottom: 3px solid #D1D2D6;
    justify-content: space-between;
    background: transparent;
    
}

.header__logo{
    font-family: 'Roboto Slab', 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-left: 100px;
    align-self: center;
    text-decoration: none;
}

.header__logo_black{
    color: #1A1B22;
}

.header__hamburger{
    background-image: url('../../images/menu.svg');
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    margin-right: 16px;
    z-index: 1;
}

.header__hamburger_black{
    background-image: url('../../images/menu-black.svg');
}

.header__hamburger-hidden{
    display: none;
}

@media  screen and (max-width: 800px) {
    
    .header__logo{
        margin-left: 40px;
    }
}

@media screen and (max-width: 600px) {
    .header{
        padding-top: 16px;
    }
}