.header{
    display: flex;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    background: transparent;
}

.header__logo{
    font-family: 'Roboto Slab', 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-left: 100px;
    align-self: center;
}